* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
}

#page {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#page>h1 {
    font-size: 80px;
    position: absolute;
    z-index: 99;
    text-align: center;
    top: 38%;
    font-weight: 500;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99;
    top: 3%;
    height: 10vh;
    width: 100vw;
    border-radius: 10px;
    background-color: #c9c9c954;
    backdrop-filter: blur(10px);
    padding: 0 80px;
}

#nav img {
    width: 4%;
    object-fit: cover;
}

#center-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

#center-nav a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

#page4, #page5, #page6, #page7, #page8 {
    height: 100vh;
    width: 100vw;
   
}

.left-page6, .left-page7, .left-page8 {
    width: 50%;
    padding: 40px;
}

.right-page6, .right-page7, .right-page8 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
